<a href="https://colab.research.google.com/github/wateen-1/AI221-Project/blob/main/AI221_AI_Programming_Entertainment_in_KSA_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project Introduction:
**Project Idea:** Analyzingsome of data forsome entertainment areas in Saudi Arabia.

**dataset file name:** Entertainment_KSA.csv

#Importing needed libraries:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Loading dataset:

In [ ]:
Data_Path_from_GitHub = "https://raw.githubusercontent.com/wateen-1/AI221-Project/refs/heads/main/Entertainment_KSA.csv"

df = pd.read_csv(Data_Path_from_GitHub)

try:
 print("file uploaded successfully.")
except FileNotFoundError:
  print("Check your internet connection or file path")

file uploaded successfully.

#Dataset Information:

In [ ]:
print("First 5 rows of DataSet:\n")
df.head()

First 5 rows of DataSet:

,Unnamed: 0,name,rating,review_count,genre,location,best_comment
0,0,المسرح الروماني | Roman Theater,4.1,(151),Performing arts theater,Al Uqayr Saudi Arabia,NaN
1,1,Maraya,4.6,(1.1T),Concert hall,Al Atheeb Saudi Arabia,"""Also the theater is another level of perfecti..."
2,2,"Novo Cinemas, Seef Mall",4.3,(801),Movie theater,"Muharraq, Bahrain · In Seef Mall - Arad, Muharraq","""The theater was comfortable and the screening..."
3,3,Education Department Theater,4.0,(169),Performing arts theater,NaN,"""Screen size is good enough."""
4,4,Muvi Cinemas - Jubail Mall,4.3,(871),Movie theater,Al Jubail Saudi Arabia · In Cenomi Al Jubail Mall,NaN

In [ ]:
print(f"number of columns  and rows: {df.shape} \n")

df.info()

number of columns  and rows: (564, 7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564 entries, 0 to 563
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    564 non-null    int64
 1   name          559 non-null    object
 2   rating        564 non-null    object
 3   review_count  562 non-null    object
 4   genre         541 non-null    object
 5   location      539 non-null    object
 6   best_comment  342 non-null    object
dtypes: int64(1), object(6)
memory usage: 31.0+ KB

#Stage1: Processing the dataset.

In [ ]:
#taking sub of dataset
df_subset = df.sample(n=500, random_state=42)
df_subset.shape

(500, 7)

In [ ]:
# Filling or removing missing values (NaN values).
print (f"missing_values count: ")
missing_values = df.isnull().sum()
missing_values

df.dropna(subset=['genre', 'location'], inplace=True)
df['best_comment'].fillna(0, inplace=True)
df['review_count'].fillna(0, inplace=True)

missing_values count:

/tmp/ipython-input-3883150627.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['best_comment'].fillna(0, inplace=True)
/tmp/ipython-input-3883150627.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['review_count'].fillna(0, inplace=True)

In [ ]:
#Removing duplicate records.

print(f"duplicate records: {df.duplicated().sum()}")
df.describe()

print(f"dublicate count before removing: {df.duplicated().sum()}")

df = df.drop_duplicates(subset=['name', 'genre', 'location'])

print(f"dublicate count after removing: {df.duplicated().sum()}")
df

duplicate records: 0
dublicate count before removing: 0
dublicate count after removing: 0

,Unnamed: 0,name,rating,review_count,genre,location,best_comment
0,0,المسرح الروماني | Roman Theater,4.1,(151),Performing arts theater,Al Uqayr Saudi Arabia,0
1,1,Maraya,4.6,(1.1T),Concert hall,Al Atheeb Saudi Arabia,"""Also the theater is another level of perfecti..."
2,2,"Novo Cinemas, Seef Mall",4.3,(801),Movie theater,"Muharraq, Bahrain · In Seef Mall - Arad, Muharraq","""The theater was comfortable and the screening..."
4,4,Muvi Cinemas - Jubail Mall,4.3,(871),Movie theater,Al Jubail Saudi Arabia · In Cenomi Al Jubail Mall,0
5,5,vox cinemas,4.2,(3.5T),Movie theater,Riyadh Saudi Arabia · In Qasr Mall by Dar Al A...,"""Sound system and atmosphere very good."""
...,...,...,...,...,...,...,...
550,553,Red Sea Beach,4.5,(137),Children's amusement center,Riyadh Saudi Arabia,Temporarily closed
551,554,The Secret Room,4.2,(353),Escape room center,Riyadh Saudi Arabia,Temporarily closed
552,555,Tim Tech Rimal Center,5.0,(2),Children's amusement center,Riyadh Saudi Arabia · In Rimal Center,Temporarily closed
553,556,Mabelle,4.7,(42),Children's amusement center,Riyadh Saudi Arabia,Temporarily closed
557,563,NaN,4.5,(137),Children's amusement center,Riyadh Saudi Arabia,Temporarily closed

In [ ]:
 #Tokenizing text data.
df["tokenized_comment"] = df["best_comment"].astype(str).str.split()

In [ ]:
df[["best_comment", "tokenized_comment"]]

,best_comment,tokenized_comment
0,0,[0]
1,"""Also the theater is another level of perfecti...","[""Also, the, theater, is, another, level, of, ..."
2,"""The theater was comfortable and the screening...","[""The, theater, was, comfortable, and, the, sc..."
4,0,[0]
5,"""Sound system and atmosphere very good.""","[""Sound, system, and, atmosphere, very, good.""]"
...,...,...
550,Temporarily closed,"[Temporarily, closed]"
551,Temporarily closed,"[Temporarily, closed]"
552,Temporarily closed,"[Temporarily, closed]"
553,Temporarily closed,"[Temporarily, closed]"
557,Temporarily closed,"[Temporarily, closed]"

In [ ]:
#Normalizing or scaling data.

In [ ]:
#Validating data.

In [ ]:
#Reformatting data:

#1.Remove an unneeded column
df= df.drop(columns=['Unnamed: 0'])
print(df.columns)

#2.Renaming columns
df = df.rename(columns={
    'name': 'Name',
    'rating': 'Rating',
    'review_count': 'Review_count',
    'genre': 'Genre',
    'location': 'Location',
    'best_comment': 'Best_comment'
})
df.shape

#3.Reformat Data type of some columns
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
df['Review_count'] = pd.to_numeric(df['Review_count'], errors='coerce').fillna(0).astype(int)

print("\n checking the values are updated: ")
df.info()

Index(['name', 'rating', 'review_count', 'genre', 'location', 'best_comment',
       'tokenized_comment'],
      dtype='object')

 checking the values are updated:
<class 'pandas.core.frame.DataFrame'>
Index: 292 entries, 0 to 557
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               287 non-null    object
 1   Rating             291 non-null    float64
 2   Review_count       292 non-null    int64
 3   Genre              292 non-null    object
 4   Location           292 non-null    object
 5   Best_comment       292 non-null    object
 6   tokenized_comment  292 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 18.2+ KB

# Stage2: Data Analysis.

In [ ]:
# Data Analys
# Central Values

# Mean
mean_rating = df["rating"].mean()
print("Mean Rating:", mean_rating)

# Median
median_rating = df["rating"].median()
print("Median Rating:", median_rating)

# Mode
mode_rating = df["rating"].mode()
print("Mode Rating:", mode_rating)

# Standard Deviation
std_rating = df["rating"].std()
print("Standard Deviation:", std_rating)

# Variance
variance_rating = df["rating"].var()
print("Variance:", variance_rating)

# Number of Comments
reviews_count = df["best_comment"].count()
print("Number of Comments:", reviews_count)