<a href="https://colab.research.google.com/github/wateen-1/AI221-Project/blob/main/AI221_AI_Programming_Entertainment_in_KSA_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project Introduction:
**Project Idea:** Analyzingsome of data for some entertainment areas in Saudi Arabia.

**dataset file name:** Entertainment_KSA.csv

#Importing needed libraries:

In [373]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Loading dataset:

In [374]:
Data_Path_from_GitHub = "https://raw.githubusercontent.com/wateen-1/AI221-Project/refs/heads/main/Entertainment_KSA.csv"

try:
 df = pd.read_csv(Data_Path_from_GitHub)
 print("file uploaded successfully.")
except FileNotFoundError:
  print("Check your internet connection or file path")

file uploaded successfully.

#Dataset Information:

In [375]:
print("First 5 rows of DataSet:\n")
df.head()

First 5 rows of DataSet:

,Unnamed: 0,name,rating,review_count,genre,location,best_comment
0,0,المسرح الروماني | Roman Theater,4.1,(151),Performing arts theater,Al Uqayr Saudi Arabia,NaN
1,1,Maraya,4.6,(1.1T),Concert hall,Al Atheeb Saudi Arabia,"""Also the theater is another level of perfecti..."
2,2,"Novo Cinemas, Seef Mall",4.3,(801),Movie theater,"Muharraq, Bahrain · In Seef Mall - Arad, Muharraq","""The theater was comfortable and the screening..."
3,3,Education Department Theater,4.0,(169),Performing arts theater,NaN,"""Screen size is good enough."""
4,4,Muvi Cinemas - Jubail Mall,4.3,(871),Movie theater,Al Jubail Saudi Arabia · In Cenomi Al Jubail Mall,NaN

In [376]:
print(f"number of columns  and rows: {df.shape} \n")

df.info()

number of columns  and rows: (564, 7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564 entries, 0 to 563
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    564 non-null    int64
 1   name          559 non-null    object
 2   rating        564 non-null    object
 3   review_count  562 non-null    object
 4   genre         541 non-null    object
 5   location      539 non-null    object
 6   best_comment  342 non-null    object
dtypes: int64(1), object(6)
memory usage: 31.0+ KB

#Stage1: Processing the dataset.

In [377]:
#taking sub of dataset
df = df.sample(n=500, random_state=42)
df.shape

(500, 7)

In [378]:
# checking(NaN values).
print (f"missing_values count: ")
missing_values = df.isnull().sum()
missing_values

missing_values count:

Unnamed: 0        0
name              5
rating            0
review_count      2
genre            20
location         23
best_comment    196
dtype: int64

In [379]:
# Removing rows with NaN in these columns
df.dropna(subset=['name','genre', 'location'], inplace=True)

# Filling missing values
df['best_comment'] = df['best_comment'].fillna(" ")
df['review_count'] = df['review_count'].fillna(0)

# Fill missing Names
df['name'] = df['name'].fillna('Unknown')

In [380]:
# Rechecking(NaN values).
print (f"missing_values count: ")
missing_values = df.isnull().sum()
missing_values

missing_values count:

Unnamed: 0      0
name            0
rating          0
review_count    0
genre           0
location        0
best_comment    0
dtype: int64

In [381]:
#1.Remove an unneeded column
df= df.drop(columns=['Unnamed: 0'])
print(df.columns)

Index(['name', 'rating', 'review_count', 'genre', 'location', 'best_comment'], dtype='object')

In [382]:
#Removing duplicate records.

print(f"duplicate records: {df.duplicated().sum()}")
df.describe()

print(f"dublicate count before removing: {df.duplicated().sum()}")

df = df.drop_duplicates(subset=['name', 'genre', 'location'])

print(f"dublicate count after removing: {df.duplicated().sum()}")
df

duplicate records: 188
dublicate count before removing: 188
dublicate count after removing: 0

,name,rating,review_count,genre,location,best_comment
537,Syrup,4.5,(406),Corporate office,Ad Dilam Saudi Arabia,
522,Triangle Park,3.9,(109),Garden,Riyadh Saudi Arabia,
234,DAZ داز,4.5,(278),Amusement center,Jeddah Saudi Arabia,"""My daughter’s favorite place !"""
523,Chuck E Cheese's,4.1,(2.4T),₹₹,Riyadh Saudi Arabia,"""Best kid's and family entertainment place"""
485,تشكي تشيز,4.0,(2.4T),₹,Riyadh Saudi Arabia,
...,...,...,...,...,...,...
156,Far-is studio,4.6,(17),Museum,Riyadh Saudi Arabia,
350,Snowy Forest,3.6,(417),Amusement center,Riyadh Saudi Arabia,
445,Lambee Tily,4.2,(1.2T),Amusement center,Riyadh Saudi Arabia,"""NYC place... Kidz njying.... Tq waad for help..."
201,The old palace,3.9,(69),Tourist attraction,Al Moqbel Palaces Saudi Arabia,Closed ⋅ Opens 6:30 am Wed
190,Tekka Tatbeelah,4.6,(593),₹,Safwa Saudi Arabia,Dine-in·

In [383]:
 #Tokenizing text data:
df.loc[:, 'tokenized_comment'] = df['best_comment'].astype(str).apply(lambda x: x.split())

In [384]:
df[['best_comment', 'tokenized_comment']].head()

,best_comment,tokenized_comment
537,,[]
522,,[]
234,"""My daughter’s favorite place !""","[""My, daughter’s, favorite, place, !""]"
523,"""Best kid's and family entertainment place""","[""Best, kid's, and, family, entertainment, pla..."
485,,[]

In [ ]:
# Convert rating and review_count to numeric
df.loc[:, 'rating'] = pd.to_numeric(df['rating'], errors='coerce')
df.loc[:, 'review_count'] = pd.to_numeric(df['review_count'], errors='coerce')

# Fill NaN if needed
df.loc[:, 'rating'] = df['rating'].fillna(df['rating'].mean())
df.loc[:, 'review_count'] = df['review_count'].fillna(0)

# Normalizing rating
min_rating = df['rating'].min()
max_rating = df['rating'].max()
df.loc[:, 'rating_scaled'] = (df['rating'] - min_rating) / (max_rating - min_rating)

# Normalizing review_count
min_review = df['review_count'].min()
max_review = df['review_count'].max()
df.loc[:, 'review_scaled'] = (df['review_count'] - min_review) / (max_review - min_review)

# Show results
df[['rating', 'rating_scaled', 'review_count', 'review_scaled']].head()

/tmp/ipython-input-2289496319.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'rating'] = df['rating'].fillna(df['rating'].mean())
/tmp/ipython-input-2289496319.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'review_count'] = df['review_count'].fillna(0)

ZeroDivisionError: division by zero

In [ ]:
#Validating data:
#Validate rating values (must be between 0 and 5)
rating_errors = df[(df['rating'] < 0)|(df['rating'] > 5)]
print(f'Rating issues (outside 0–5) {rating_errors}')

#Validate review_count (must be >= 0)
review_count_errors = df[df['review_count'] < 0]
print(f'Review count issues (negative values): {review_count_errors}')

Rating issues (outside 0–5) Empty DataFrame
Columns: [name, rating, review_count, genre, location, best_comment, tokenized_comment, rating_scaled, review_scaled]
Index: []
Review count issues (negative values): Empty DataFrame
Columns: [name, rating, review_count, genre, location, best_comment, tokenized_comment, rating_scaled, review_scaled]
Index: []

In [ ]:
df[['rating', 'rating_scaled', 'review_count', 'review_scaled']].head()

KeyError: "['rating', 'review_count'] not in index"

In [ ]:
# Reformatting data:

# 1. Renaming columns
df = df.rename(columns={
    'name': 'Name',
    'rating': 'Rating',
    'review_count': 'Review_count',
    'genre': 'Genre',
    'location': 'Location',
    'best_comment': 'Best_comment'
})




# 1. Reformatting Review_count
def convert_review_count(review):

    review = str(review).strip().upper()
    if 'K' in review:

        return float(review.replace('K','')) * 1000
    elif 'M' in review:

        return float(review.replace('M','')) * 1000000

    elif review.replace('.', '', 1).isdigit():
        return float(review)
    else:
        return np.nan


df.loc[:, 'Review_count'] = df['Review_count'].apply(convert_review_count)


df.loc[:, 'Review_count'] = df['Review_count'].fillna(0).astype(int)
print("1. Done Reformatting 'Review_count'")


# 1. Reformatting Rating
df.loc[:, 'Rating'] = pd.to_numeric(df['Rating'], errors='coerce')


mean_rating = df['Rating'].mean()
df.loc[:, 'Rating'] = df['Rating'].fillna(mean_rating)
print(f"2. Done Reformatting 'Rating' {mean_rating:.2f}.")



# 3. convert Review_count to numeric
df['Review_count'] = pd.to_numeric(df['Review_count'], errors='coerce').fillna(0).astype(int)



# 4. convert Rating to numeric
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
mean_rating = df['Rating'].mean()
df['Rating'] = df['Rating'].fillna(mean_rating)
df['Rating'] = df['Rating'].astype(float)


# 5. (Renormalizing/ReScaling)
min_rating = df['Rating'].min()
max_rating = df['Rating'].max()

df['rating_scaled'] = (df['Rating'] - min_rating) / (max_rating - min_rating)



print("\nChecking values are updated:")
df.info()

1. Done Reformatting 'Review_count'
2. Done Reformatting 'Rating' 4.20.

Checking values are updated:
<class 'pandas.core.frame.DataFrame'>
Index: 274 entries, 537 to 190
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   274 non-null    object
 1   Rating                 274 non-null    float64
 2   Review_count           274 non-null    int64
 3   Genre                  274 non-null    object
 4   Location               274 non-null    object
 5   Best_comment           274 non-null    object
 6   tokenized_comment      274 non-null    object
 7   rating_scaled          274 non-null    float64
 8   review_scaled          0 non-null      object
 9   Mean_Rating_Per_Event  274 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 23.5+ KB

# Stage2: Data Analysis.

In [ ]:
# Finding central values

# Mean
mean_rating = df["Rating"].mean()
print("Mean Rating:", mean_rating)

# Median
median_rating = df["Rating"].median()
print("Median Rating:", median_rating)

# Mode
mode_rating = df["Rating"].mode()
print("Mode Rating:", mode_rating)


#Finding measures of dispersion

# Standard Deviation
std_rating = df["Rating"].std()
print("Standard Deviation:", std_rating)

# Variance
variance_rating = df["Rating"].var()
print("Variance:", variance_rating)

# Number of Comments
reviews_count = df["Best_comment"].count()
print("Number of Comments:", reviews_count)

Mean Rating: 4.204761904761904
Median Rating: 4.2
Mode Rating: 0    4.3
Name: Rating, dtype: float64
Standard Deviation: 0.3955050071869193
Variance: 0.15642421070992507
Number of Comments: 274

In [ ]:
#Finding common words in text data
all_comments = " ".join(df["best_comment"].astype(str))
words = all_comments.split()

word_counts = {}

for w in words:
    w = w.strip(".,!?\"()[]{};:-")
    if w != "" and w.lower() != "nan":
        word_counts[w] = word_counts.get(w, 0) + 1

word_counts_df = pd.DataFrame(word_counts.items(), columns=["word", "count"])
word_counts_df = word_counts_df.sort_values("count", ascending=False)

word_counts_df.head(10)

              word  count
26           place    154
27             for     86
11             and     76
197  entertainment     57
1              the     45
73              to     40
55            with     38
2          theater     36
188           kids     34
25            nice     29

In [ ]:
#Grouping and aggregating data first part :
mean_rating_map = df.groupby('Name')['Rating'].mean()

df['Mean_Rating_Per_Event'] = df['Name'].map(mean_rating_map)


global_mean_rating = df['Rating'].mean()
df['Mean_Rating_Per_Event'] = df['Mean_Rating_Per_Event'].fillna(global_mean_rating)

In [ ]:
#Calculating the correlation between variables.
df['Mean_Rating_Per_Event'] = pd.to_numeric(df['Mean_Rating_Per_Event'], errors='coerce')


correlation_matrix = df[['Rating', 'Mean_Rating_Per_Event']].corr()


print(correlation_matrix)


rating_mean_correlation = correlation_matrix.loc['Rating', 'Mean_Rating_Per_Event']
print(f"\n corelation value  {rating_mean_correlation:.4f}")

                         Rating  Mean_Rating_Per_Event
Rating                 1.000000               0.973861
Mean_Rating_Per_Event  0.973861               1.000000

 corelation value  0.9739

In [ ]:
numeric_cols = ['Rating', 'Review_count', 'rating_scaled', 'Mean_Rating_Per_Event']

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

correlation_matrix_full = df[numeric_cols].corr()

print(correlation_matrix_full)

                         Rating  Review_count  rating_scaled  \
Rating                 1.000000           NaN       1.000000
Review_count                NaN           NaN            NaN
rating_scaled          1.000000           NaN       1.000000
Mean_Rating_Per_Event  0.973861           NaN       0.973861

                       Mean_Rating_Per_Event
Rating                              0.973861
Review_count                             NaN
rating_scaled                       0.973861
Mean_Rating_Per_Event               1.000000

In [ ]:
# Grouping and aggregating data secound part:
genre_rating = (df.groupby('Genre')['Rating'].mean().reset_index().sort_values(by='Rating',
ascending=False).head(10).reset_index(drop=True))

print("Top 10 Genres by Average Rating:\n")
print(genre_rating)

Top 10 Genres by Average Rating:

                    Genre    Rating
0    Entertainment agency  5.000000
1           Travel agency  4.900000
2            Resort hotel  4.900000
3                  Museum  4.800000
4       Childrens theater  4.700000
5            Concert hall  4.666667
6             Hiking area  4.625000
7   Outdoor movie theater  4.600000
8     Historical landmark  4.600000
9      Escape room center  4.527273