<a href="https://colab.research.google.com/github/wateen-1/AI221-Project/blob/main/AI221_AI_Programming_Entertainment_in_KSA_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project Introduction:
**Project Idea:** Analyzingsome of data for some entertainment areas in Saudi Arabia.

**dataset file name:** Entertainment_KSA.csv

#Importing needed libraries:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Loading dataset:

In [ ]:
Data_Path_from_GitHub = "https://raw.githubusercontent.com/wateen-1/AI221-Project/refs/heads/main/Entertainment_KSA.csv"

try:
 df = pd.read_csv(Data_Path_from_GitHub)
 print("file uploaded successfully.")
except FileNotFoundError:
  print("Check your internet connection or file path")

file uploaded successfully.

#Dataset Information:

In [ ]:
print("First 5 rows of DataSet:\n")
df.head()

First 5 rows of DataSet:

,Unnamed: 0,name,rating,review_count,genre,location,best_comment
0,0,المسرح الروماني | Roman Theater,4.1,(151),Performing arts theater,Al Uqayr Saudi Arabia,NaN
1,1,Maraya,4.6,(1.1T),Concert hall,Al Atheeb Saudi Arabia,"""Also the theater is another level of perfecti..."
2,2,"Novo Cinemas, Seef Mall",4.3,(801),Movie theater,"Muharraq, Bahrain · In Seef Mall - Arad, Muharraq","""The theater was comfortable and the screening..."
3,3,Education Department Theater,4.0,(169),Performing arts theater,NaN,"""Screen size is good enough."""
4,4,Muvi Cinemas - Jubail Mall,4.3,(871),Movie theater,Al Jubail Saudi Arabia · In Cenomi Al Jubail Mall,NaN

In [ ]:
print(f"number of columns  and rows: {df.shape} \n")

df.info()

number of columns  and rows: (564, 7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564 entries, 0 to 563
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    564 non-null    int64
 1   name          559 non-null    object
 2   rating        564 non-null    object
 3   review_count  562 non-null    object
 4   genre         541 non-null    object
 5   location      539 non-null    object
 6   best_comment  342 non-null    object
dtypes: int64(1), object(6)
memory usage: 31.0+ KB

#Stage1: Processing the dataset.

In [ ]:
#taking sub of dataset
df = df.sample(n=500, random_state=42)
df.shape

(500, 7)

In [ ]:
# checking(NaN values).
print (f"missing_values count: ")
missing_values = df.isnull().sum()
missing_values

missing_values count:

Unnamed: 0        0
name              5
rating            0
review_count      2
genre            20
location         23
best_comment    196
dtype: int64

In [ ]:
# Removing rows with NaN in these columns
df.dropna(subset=['name','genre', 'location'], inplace=True)

# Filling missing values
df['best_comment'] = df['best_comment'].fillna(" ")
df['review_count'] = df['review_count'].fillna(0)

# Fill missing Names
df['name'] = df['name'].fillna('Unknown')

In [ ]:
# Rechecking(NaN values).
print (f"missing_values count: ")
missing_values = df.isnull().sum()
missing_values

missing_values count:

Unnamed: 0      0
name            0
rating          0
review_count    0
genre           0
location        0
best_comment    0
dtype: int64

In [ ]:
#1.Remove an unneeded column
df= df.drop(columns=['Unnamed: 0'])
print(df.columns)

Index(['name', 'rating', 'review_count', 'genre', 'location', 'best_comment'], dtype='object')

In [ ]:
#Removing duplicate records.

print(f"duplicate records: {df.duplicated().sum()}")
df.describe()

print(f"dublicate count before removing: {df.duplicated().sum()}")

df = df.drop_duplicates(subset=['name', 'genre', 'location'])

print(f"dublicate count after removing: {df.duplicated().sum()}")
df

duplicate records: 188
dublicate count before removing: 188
dublicate count after removing: 0

,name,rating,review_count,genre,location,best_comment
151,Maraya,4.6,(1.1T),Concert hall,Al Atheeb Saudi Arabia,"""Also the theater is another level of perfecti..."
402,Escape The Room - Riyadh,4.7,(2T),Escape room center,Riyadh Saudi Arabia,"""Best entertainment Place for family’s and fri..."
120,GOLD,4.1,(38),Movie theater,Riyadh Saudi Arabia · In Vox Cinema - Riyadh F...,
163,Education Department Theater,4.0,(169),Performing arts theater,Al Madinah Al Munawwarah Saudi Arabia,
144,Al Comedy Club,4.4,(18),Performing arts theater,Dammam Saudi Arabia,
...,...,...,...,...,...,...
340,Round About,5.0,(1),Tourist attraction,Saudi Arabia,
323,Tuwaiq Garden,4.4,(535),Tourist attraction,Riyadh Saudi Arabia,"""Beautiful place to jog. I enjoyed walking aro..."
300,The Escape Hotel,4.7,(3),Tourist attraction,Saudi Arabia,
190,Tekka Tatbeelah,4.6,(593),₹,Safwa Saudi Arabia,Dine-in·
286,Corniche Island,4.7,(22),Tourist attraction,Al Khobar Saudi Arabia,

In [ ]:
 #Tokenizing text data:
df.loc[:, 'tokenized_comment'] = df['best_comment'].astype(str).apply(lambda x: x.split())

In [ ]:
df[['best_comment', 'tokenized_comment']].head()

,best_comment,tokenized_comment
151,"""Also the theater is another level of perfecti...","[""Also, the, theater, is, another, level, of, ..."
402,"""Best entertainment Place for family’s and fri...","[""Best, entertainment, Place, for, family’s, a..."
120,,[]
163,,[]
144,,[]

In [ ]:
# Reformatting data:

# 1. Renaming columns
df = df.rename(columns={
    'name': 'Name',
    'rating': 'Rating',
    'review_count': 'Review_count',
    'genre': 'Genre',
    'location': 'Location',
    'best_comment': 'Best_comment'
})


# 1. Reformatting Review_count
def clean_review_count(val):
    if pd.isna(val):
        return np.nan
    val = str(val).strip()
    if any(c.isalpha() for c in val) and 'T' not in val:
        return np.nan
    try:
        val = val.replace('(', '').replace(')', '')
        if 'T' in val:
            return float(val.replace('T','')) * 1e12
        else:
            return float(val)
    except:
        return np.nan


df['Review_count'] = df['Review_count'].apply(clean_review_count)

df = df.dropna(subset=['Review_count'])

#Convert rating and review_count to numeric
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
df['Review_count'] = pd.to_numeric(df['Review_count'], errors='coerce')

print("\nChecking values are updated:")
df.info()

Checking values are updated:
<class 'pandas.core.frame.DataFrame'>
Index: 274 entries, 537 to 190
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   274 non-null    object
 1   Rating                 274 non-null    float64
 2   Review_count           274 non-null    float64
 3   Genre                  274 non-null    object
 4   Location               274 non-null    object
 5   Best_comment           274 non-null    object
 6   tokenized_comment      274 non-null    object
 7   rating_scaled          274 non-null    float64
 8   review_scaled          0 non-null      object
 9   Mean_Rating_Per_Event  274 non-null    float64
dtypes: float64(4), object(6)
memory usage: 23.5+ KB

In [ ]:
#Normalizing or scaling data:

#Normalizing rating column
min_rating = df['Rating'].min()
max_rating = df['Rating'].max()

df['Rating_scaled'] = (df['Review_count'] - min_rating) / (max_rating - min_rating)

#Normalizing review_count column
min_review = df['Review_count'].min()
max_review = df['Review_count'].max()
df['Review_count_scaled'] = (df['Review_count'] - min_review) / (max_review - min_review)

#Show results after scaling
df[['Rating', 'Rating_scaled', 'Review_count', 'Review_count_scaled']].head()

     Rating  Rating_scaled  Review_count  Review_count_scaled
151     4.6   4.400000e+11  1.100000e+12         3.055556e-02
402     4.7   8.000000e+11  2.000000e+12         5.555556e-02
120     4.1   1.420000e+01  3.800000e+01         1.027778e-12
163     4.0   6.660000e+01  1.690000e+02         4.666667e-12
144     4.4   6.200000e+00  1.800000e+01         4.722222e-13

In [ ]:
#Validating data:
#Validate rating values (must be between 0 and 5)
rating_errors = df[(df['Rating'] < 0)|(df['Rating'] > 5)]
print(f'Rating issues (outside 0–5) {rating_errors}')

#Validate review_count (must be >= 0)
review_count_errors = df[df['Review_count'] < 0]
print(f'Review count issues (negative values): {review_count_errors}')

Rating issues (outside 0–5) Empty DataFrame
Columns: [Name, Rating, Review_count, Genre, Location, Best_comment, tokenized_comment, Rating_scaled, Review_scaled, Review_count_scaled]
Index: []
Review count issues (negative values): Empty DataFrame
Columns: [Name, Rating, Review_count, Genre, Location, Best_comment, tokenized_comment, Rating_scaled, Review_scaled, Review_count_scaled]
Index: []

# Stage2: Data Analysis.

In [ ]:
# Finding central values

# Mean
mean_rating = df["Rating"].mean()
print("Mean Rating:", mean_rating)

# Median
median_rating = df["Rating"].median()
print("Median Rating:", median_rating)

# Mode
mode_rating = df["Rating"].mode()
print("Mode Rating:", mode_rating)


#Finding measures of dispersion

# Standard Deviation
std_rating = df["Rating"].std()
print("Standard Deviation:", std_rating)

# Variance
variance_rating = df["Rating"].var()
print("Variance:", variance_rating)

# Number of Comments
reviews_count = df["Best_comment"].count()
print("Number of Comments:", reviews_count)

Mean Rating: 4.204761904761905
Median Rating: 4.2
Mode Rating: 0    4.3
Name: Rating, dtype: float64
Standard Deviation: 0.39623137144841025
Variance: 0.15699929971988805
Number of Comments: 273

In [ ]:
#Finding common words in text data
all_comments = " ".join(df["Best_comment"].astype(str))
words = all_comments.split()

word_counts = {}

for w in words:
    w = w.strip(".,!?\"()[]{};:-")
    if w != "" and w.lower() != "nan":
        word_counts[w] = word_counts.get(w, 0) + 1

word_counts_df = pd.DataFrame(word_counts.items(), columns=["word", "count"])
word_counts_df = word_counts_df.sort_values("count", ascending=False)

word_counts_df.head(10)

              word  count
20           place     79
11             for     45
13             and     39
9    entertainment     28
1              the     21
40              to     20
85            with     18
22            kids     17
2          theater     17
138              a     14

In [ ]:
#Grouping and aggregating data first part :
mean_rating_map = df.groupby('Name')['Rating'].mean()

df['Mean_Rating_Per_Event'] = df['Name'].map(mean_rating_map)


global_mean_rating = df['Rating'].mean()
df['Mean_Rating_Per_Event'] = df['Mean_Rating_Per_Event'].fillna(global_mean_rating)

In [427]:
#Calculating the correlation between variables.
numeric_cols = ['Rating', 'Review_count', 'Rating_scaled', 'Mean_Rating_Per_Event']

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

correlation_matrix_full = df[numeric_cols].corr()

print(correlation_matrix_full)

                         Rating  Review_count  Rating_scaled  \
Rating                 1.000000      0.101168       0.101168
Review_count           0.101168      1.000000       1.000000
Rating_scaled          0.101168      1.000000       1.000000
Mean_Rating_Per_Event  0.973861      0.101036       0.101036

                       Mean_Rating_Per_Event
Rating                              0.973861
Review_count                        0.101036
Rating_scaled                       0.101036
Mean_Rating_Per_Event               1.000000

In [428]:
# Grouping and aggregating data secound part:
genre_rating = (df.groupby('Genre')['Rating'].mean().reset_index().sort_values(by='Rating',
ascending=False).head(10).reset_index(drop=True))

print("Top 10 Genres by Average Rating:\n")
print(genre_rating)

Top 10 Genres by Average Rating:

                    Genre    Rating
0    Entertainment agency  5.000000
1            Resort hotel  4.900000
2           Travel agency  4.900000
3                  Museum  4.800000
4       Childrens theater  4.700000
5            Concert hall  4.666667
6             Hiking area  4.625000
7     Historical landmark  4.600000
8   Outdoor movie theater  4.600000
9      Escape room center  4.527273