<a href="https://colab.research.google.com/github/wateen-1/AI221-Project/blob/main/AI221_AI_Programming_Entertainment_in_KSA_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project Introduction:
**Project Idea:** Analyzingsome of data for some entertainment areas in Saudi Arabia.

**dataset file name:** Entertainment_KSA.csv

#Importing needed libraries:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Loading dataset:

In [ ]:
Data_Path_from_GitHub = "https://raw.githubusercontent.com/wateen-1/AI221-Project/refs/heads/main/Entertainment_KSA.csv"

try:
 df = pd.read_csv(Data_Path_from_GitHub)
 print("file uploaded successfully.")
except FileNotFoundError:
  print("Check your internet connection or file path")

file uploaded successfully.

#Dataset Information:

In [ ]:
print("First 5 rows of DataSet:\n")
df.head()

First 5 rows of DataSet:

,Unnamed: 0,name,rating,review_count,genre,location,best_comment
0,0,المسرح الروماني | Roman Theater,4.1,(151),Performing arts theater,Al Uqayr Saudi Arabia,NaN
1,1,Maraya,4.6,(1.1T),Concert hall,Al Atheeb Saudi Arabia,"""Also the theater is another level of perfecti..."
2,2,"Novo Cinemas, Seef Mall",4.3,(801),Movie theater,"Muharraq, Bahrain · In Seef Mall - Arad, Muharraq","""The theater was comfortable and the screening..."
3,3,Education Department Theater,4.0,(169),Performing arts theater,NaN,"""Screen size is good enough."""
4,4,Muvi Cinemas - Jubail Mall,4.3,(871),Movie theater,Al Jubail Saudi Arabia · In Cenomi Al Jubail Mall,NaN

In [ ]:
print(f"number of columns  and rows: {df.shape} \n")

df.info()

number of columns  and rows: (564, 7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564 entries, 0 to 563
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    564 non-null    int64
 1   name          559 non-null    object
 2   rating        564 non-null    object
 3   review_count  562 non-null    object
 4   genre         541 non-null    object
 5   location      539 non-null    object
 6   best_comment  342 non-null    object
dtypes: int64(1), object(6)
memory usage: 31.0+ KB

#Stage1: Processing the dataset.

In [ ]:
#taking sub of dataset
df = df.sample(n=500, random_state=42)
df.shape

(500, 7)

In [ ]:
# checking(NaN values).
print (f"missing_values count: ")
missing_values = df.isnull().sum()
missing_values

missing_values count:

Unnamed: 0        0
name              5
rating            0
review_count      2
genre            20
location         23
best_comment    196
dtype: int64

In [ ]:
# Removing rows with NaN in these columns
df.dropna(subset=['name','genre', 'location'], inplace=True)

# Filling missing values
df['best_comment'] = df['best_comment'].fillna(" ")
df['review_count'] = df['review_count'].fillna(0)

# Fill missing Names
df['name'] = df['name'].fillna('Unknown')

In [ ]:
# Rechecking(NaN values).
print (f"missing_values count: ")
missing_values = df.isnull().sum()
missing_values

missing_values count:

Unnamed: 0      0
name            0
rating          0
review_count    0
genre           0
location        0
best_comment    0
dtype: int64

In [ ]:
#1.Remove an unneeded column
df= df.drop(columns=['Unnamed: 0'])
print(df.columns)

Index(['name', 'rating', 'review_count', 'genre', 'location', 'best_comment'], dtype='object')

In [ ]:
#Removing duplicate records.

print(f"duplicate records: {df.duplicated().sum()}")
df.describe()

print(f"dublicate count before removing: {df.duplicated().sum()}")

df = df.drop_duplicates(subset=['name', 'genre', 'location'])

print(f"dublicate count after removing: {df.duplicated().sum()}")
df

duplicate records: 188
dublicate count before removing: 188
dublicate count after removing: 0

,name,rating,review_count,genre,location,best_comment
537,Syrup,4.5,(406),Corporate office,Ad Dilam Saudi Arabia,
522,Triangle Park,3.9,(109),Garden,Riyadh Saudi Arabia,
234,DAZ داز,4.5,(278),Amusement center,Jeddah Saudi Arabia,"""My daughter’s favorite place !"""
523,Chuck E Cheese's,4.1,(2.4T),₹₹,Riyadh Saudi Arabia,"""Best kid's and family entertainment place"""
485,تشكي تشيز,4.0,(2.4T),₹,Riyadh Saudi Arabia,
...,...,...,...,...,...,...
156,Far-is studio,4.6,(17),Museum,Riyadh Saudi Arabia,
350,Snowy Forest,3.6,(417),Amusement center,Riyadh Saudi Arabia,
445,Lambee Tily,4.2,(1.2T),Amusement center,Riyadh Saudi Arabia,"""NYC place... Kidz njying.... Tq waad for help..."
201,The old palace,3.9,(69),Tourist attraction,Al Moqbel Palaces Saudi Arabia,Closed ⋅ Opens 6:30 am Wed
190,Tekka Tatbeelah,4.6,(593),₹,Safwa Saudi Arabia,Dine-in·

In [ ]:
 #Tokenizing text data:
df.loc[:, 'tokenized_comment'] = df['best_comment'].astype(str).apply(lambda x: x.split())

In [ ]:
df[['best_comment', 'tokenized_comment']].head()

,best_comment,tokenized_comment
537,,[]
522,,[]
234,"""My daughter’s favorite place !""","[""My, daughter’s, favorite, place, !""]"
523,"""Best kid's and family entertainment place""","[""Best, kid's, and, family, entertainment, pla..."
485,,[]

In [ ]:
# Reformatting data:

# 1. Renaming columns
df = df.rename(columns={
    'name': 'Name',
    'rating': 'Rating',
    'review_count': 'Review_count',
    'genre': 'Genre',
    'location': 'Location',
    'best_comment': 'Best_comment'
})


# 1. Reformatting Review_count
def clean_review_count(val):
    if pd.isna(val):
        return np.nan
    val = str(val).strip()
    if any(c.isalpha() for c in val) and 'T' not in val:
        return np.nan
    try:
        val = val.replace('(', '').replace(')', '')
        if 'T' in val:
            return float(val.replace('T','')) * 1e12
        else:
            return float(val)
    except:
        return np.nan


df['Review_count'] = df['Review_count'].apply(clean_review_count)

df = df.dropna(subset=['Review_count'])

#Convert rating and review_count to numeric
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
df['Review_count'] = pd.to_numeric(df['Review_count'], errors='coerce')

print("\nChecking values are updated:")
df.info()

Checking values are updated:
<class 'pandas.core.frame.DataFrame'>
Index: 273 entries, 537 to 190
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               273 non-null    object
 1   Rating             273 non-null    float64
 2   Review_count       273 non-null    float64
 3   Genre              273 non-null    object
 4   Location           273 non-null    object
 5   Best_comment       273 non-null    object
 6   tokenized_comment  273 non-null    object
dtypes: float64(2), object(5)
memory usage: 17.1+ KB

In [ ]:
#Normalizing or scaling data:

#Normalizing rating column
min_rating = df['Rating'].min()
max_rating = df['Rating'].max()

df['Rating_scaled'] = (df['Review_count'] - min_rating) / (max_rating - min_rating)

#Normalizing review_count column
min_review = df['Review_count'].min()
max_review = df['Review_count'].max()
df['Review_count_scaled'] = (df['Review_count'] - min_review) / (max_review - min_review)

#Show results after scaling
df[['Rating', 'Rating_scaled', 'Review_count', 'Review_count_scaled']].head()

     Rating  Rating_scaled  Review_count  Review_count_scaled
537     4.5   1.614000e+02  4.060000e+02         1.125000e-11
522     3.9   4.260000e+01  1.090000e+02         3.000000e-12
234     4.5   1.102000e+02  2.780000e+02         7.694444e-12
523     4.1   9.600000e+11  2.400000e+12         6.666667e-02
485     4.0   9.600000e+11  2.400000e+12         6.666667e-02

In [ ]:
#Validating data:
#Validate rating values (must be between 0 and 5)
rating_errors = df[(df['Rating'] < 0)|(df['Rating'] > 5)]
print(f'Rating issues (outside 0–5) {rating_errors}')

#Validate review_count (must be >= 0)
review_count_errors = df[df['Review_count'] < 0]
print(f'Review count issues (negative values): {review_count_errors}')

Rating issues (outside 0–5) Empty DataFrame
Columns: [Name, Rating, Review_count, Genre, Location, Best_comment, tokenized_comment, Rating_scaled, Review_count_scaled]
Index: []
Review count issues (negative values): Empty DataFrame
Columns: [Name, Rating, Review_count, Genre, Location, Best_comment, tokenized_comment, Rating_scaled, Review_count_scaled]
Index: []

# Stage2: Data Analysis.

In [ ]:
# Finding central values

# Mean
mean_rating = df["Rating"].mean()
print("Mean Rating:", mean_rating)

# Median
median_rating = df["Rating"].median()
print("Median Rating:", median_rating)

# Mode
mode_rating = df["Rating"].mode()
print("Mode Rating:", mode_rating)


#Finding measures of dispersion

# Standard Deviation
std_rating = df["Rating"].std()
print("Standard Deviation:", std_rating)

# Variance
variance_rating = df["Rating"].var()
print("Variance:", variance_rating)

# Number of Comments
reviews_count = df["Best_comment"].count()
print("Number of Comments:", reviews_count)

Mean Rating: 4.204761904761905
Median Rating: 4.2
Mode Rating: 0    4.3
Name: Rating, dtype: float64
Standard Deviation: 0.39623137144841025
Variance: 0.15699929971988805
Number of Comments: 273

In [ ]:
#Finding common words in text data
all_comments = " ".join(df["Best_comment"].astype(str))
words = all_comments.split()

word_counts = {}

for w in words:
    w = w.strip(".,!?\"()[]{};:-'.")
    if w != "" and w.lower() != "nan":
        word_counts[w] = word_counts.get(w, 0) + 1

word_counts_df = pd.DataFrame(word_counts.items(), columns=["word", "count"])
word_counts_df = word_counts_df.sort_values("count", ascending=False)

word_counts_df.head(10)

              word  count
3            place     81
10             for     46
6              and     39
8    entertainment     28
127            the     21
25              to     20
53            with     18
65         theater     17
70            kids     17
104           nice     14

In [ ]:
# Grouping and aggregating data
genre_rating = (df.groupby('Genre')['Rating'].mean().reset_index().sort_values(by='Rating',
ascending=False).head(10).reset_index(drop=True))

print("Top 10 Genres by Average Rating:\n")
print(genre_rating)

Top 10 Genres by Average Rating:

                    Genre    Rating
0    Entertainment agency  5.000000
1            Resort hotel  4.900000
2           Travel agency  4.900000
3                  Museum  4.800000
4       Childrens theater  4.700000
5            Concert hall  4.666667
6             Hiking area  4.625000
7     Historical landmark  4.600000
8   Outdoor movie theater  4.600000
9      Escape room center  4.527273

In [ ]:
#Calculating the correlation between variables
count_genre = df.groupby('Genre')['Rating'].count()
df['Rating_count'] = df['Genre'].map(count_genre)
corr_df = df[['Rating', 'Review_count', 'Rating_count', 'Rating_scaled']]
corr_matrix = corr_df.corr()
print(corr_matrix)

                 Rating  Review_count  Rating_count  Rating_scaled
Rating         1.000000      0.101168     -0.032933       1.000000
Review_count   0.101168      1.000000      0.063729       0.101168
Rating_count  -0.032933      0.063729      1.000000      -0.032933
Rating_scaled  1.000000      0.101168     -0.032933       1.000000